.character-card {
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 48%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.image-side {
    flex: 1;
}

.image-side img {
    max-width: 100%;
    height: auto;
}

.name-side {
    flex: 1;
    padding: 10px;
}

.character-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    cursor: pointer;
}